<!DOCTYPE html>
<html lang="en">
 
<head>
 <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="css/bootstrap.min.css">
   <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
 </head>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">

  <a class="navbar-brand" href="#">Shopify</a>
  </div>
  <ul class="nav navbar-nav">
  <li class="active"><a href="home"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp Home</a></li>
  <li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-product-hunt fa-fw" aria-hidden="true"></i>&nbsp; Products <span class="fa fa-caret-down"></span></a>
  <ul class="dropdown-menu">
  <li>
  <a href="#">Men</a>
  </li>
  <li>
  <a href="#">Women</a>
  </li>
  <li>
  <a href="#">Kids</a>
  </li>
  </ul>
  </li>
  <li><a href="ContactUs.html">ContactUs</a><li> 
  <li><a href="Aboutus.html">AboutUs</a><li> 
  </ul> 
  <ul class="nav navbar-nav navbar-Right">
  <li><a href="Login.html"><span class="glyphicon glyphicon-log-in"></span>Sign In</a></li>
  <li><a href="Register.html"><span class="glyphicon glyphicon-user"></span>Register</a></li>
  </ul>
  <sec:authorize access="hasRole('ROLE_ADMIN')">
  <ul class="nav navbar-nav navbar-Right">
  <li><a href="AdminPage.jsp"><i class="fa fa-buysellads fa-fw" aria-hidden="true"></i>AdminPage</a></li>
  <li><a href="Cart.jsp"><i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i> Cart</a></li>
  <li><a href="Logout.jsp"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
  </ul>
  </sec:authorize>
  <sec:authorize access="hasRole('ROLE_USER')">
  <ul class="nav navbar-nav navbar-Right">
  <li><a href="CartPage.jsp"><i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i> Cart</a></li>
  <li><a href="Logout.jsp"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
  </ul>
  </sec:authorize>
 </div>
</div>
</nav>
<br>
<br>
<br>
 <div class="about">
		<div class="container">
				<h3>About Us</h3>
			<div class="about-top">
				<div class="col-md-3 about-1">
					<img src="images/j.jpg" class="img-circle" alt="one"width="230" height="180">	
				</div>
				<div class="col-md-3 about-1">
					<img src="images/h.jpg" class="img-circle" alt="one"width="230" height="180">	
				</div>
				<div class="col-md-3 about-1">
					<img src="images/f.jpg" class="img-circle" alt="one"width="230" height="180">	
				</div>
				<div class="col-md-3 about-1">
					<img src="images/i.jpg" class="img-circle" alt="one"width="230" height="180">	
				</div>
				
				
				
				<div class="clearfix"></div>	
			</div>
			<div class="about-top">
				<div class="col-md-3 about-2">
					<h4>Shopify</h4>
					<p>Shopify is a online shopping website for men women and kids there
					 is various branches across the country..our website is secure and 100% replacement gurantee
					 it is very easy and secure to shopping with us.......</p>
				</div>
				
<div class="footer">
	<div class="container">
		<div class="col-md-3 cust">
			<h4>CUSTOMER CARE</h4>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="buy.html">How To Buy</a></li>
				<li><a href="#">Delivery</a></li>
		</div>
		<div class="col-md-3 abt">
			<h4>ABOUT US</h4>
				<li><a href="#">Our Stories</a></li>
				<li><a href="contact.html">Contact</a></li>
		</div>
		<div class="col-md-3 myac">
			<h4>MY ACCOUNT</h4>
				<li><a href="register.html">Register</a></li>
				<li><a href="#">My Cart</a></li>
				
		</div>
		<div class="col-md-3 our-st">
				<h4>OUR STORE</h4>
				<li><i class="add"> </i>Shopify</li>
				<li><i class="phone"> </i>9011231446</li>
				<li><a href="mailto:minaljambhekar@gmail.com"><i class="mail"> </i>infoShopify@gmail.com </a></li>
			    </div>
			    <footer class="section" style="background:black">
 <div class="container">
 <div class="row">
 <div class="col-sm-6">
 <span class="copyright text-inverse">Copyright Â© Shopify Inc. 2016</span>
 </div>
 
<div class="col-sm-6">
<div class="row">
<div class="col-md-12 hidden-xs text-right">
<a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
<a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
<a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
</div>
</footer>
		
</body>
</html>